html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

head {
  display: none;
}

.header-main-full {
  height: auto;
  padding: 16px;
}

.header-main-desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 0 4px;
}

.header-main {
  flex-grow: 1;
  text-align: center;
}

.amount-option-radio {
  opacity: 0.0001;
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 2px;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

button,
input {
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

input[type="radio" i] {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 0px 5px;
  padding: initial;
  border: initial;
}

.amount-option {
  flex-shrink: 0;
  position: relative;
  width: 33.3333333333%;
  padding: 5px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.amount-options {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
}

.p-abs.top-left,
.p-fixed.top-left {
  top: 0;
  left: 0;
}

.p-abs.bottom-right,
.p-fixed.bottom-right {
  bottom: 0;
  right: 0;
}

.p-abs {
  position: absolute;
}

.btn-tabs-frame {
  box-shadow: inset 0 0 0 1px #c7cdd6;
  border-radius: 8px;
}

.amount-option-label-desktop {
  height: 40px;
}

.amount-option-label {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222832;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-align: center;
  background: #fff;
  padding: 0 2px;
  border-radius: 8px;
  box-shadow: inset 0 0 0 1px #c7cdd6;
  -webkit-user-select: none;
  user-select: none;
}

.label-3,
.amount-option-label,
.btn-tab,
.ui-radio-label,
.ui-checkbox-label,
.form-control,
.custom-select-cover-label,
.custom-select-placeholder,
.currency-select-label {
  font-size:
    /*!rtl:14px*/ 16px;
  line-height: 24px;
  font-weight: 400;
}

label {
  cursor: default;
}

.mt-2-5 {
  margin-top: 10px;
}

.group-price-control {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}

.group-price-control {
  position: relative;
  display: flex;
  color: #3371e6;
  background: #fff;
  box-shadow: inset 0 0 0 1px #c7cdd6, 0 1px 3px rgba(57, 58, 63, 0.1);
  border-radius: 8px;
  padding-inline-start: 16px;
  padding-inline-end: 6px;
}

.text-sans-serif {
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.text-gray-80 {
  color: #49505b;
}

.mt-auto,
.my-auto {
  margin-top: auto;
}

.text-line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-nowrap {
  white-space: nowrap;
}

.me-1,
.mx-1 {
  margin-inline-end: 4px;
}

.align-self-center {
  align-self: center;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.label-3,
.amount-option-label,
.btn-tab,
.ui-radio-label,
.ui-checkbox-label,
.form-control,
.custom-select-cover-label,
.custom-select-placeholder,
.currency-select-label {
  font-size:
    /*!rtl:14px*/ 16px;
  line-height: 24px;
  font-weight: 400;
}

.group-price-control {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}

.group-price-control {
  position: relative;
  display: flex;
  color: #3371e6;
  background: #fff;
  box-shadow: inset 0 0 0 1px #c7cdd6, 0 1px 3px rgba(57, 58, 63, 0.1);
  border-radius: 8px;
  padding-inline-start: 16px;
  padding-inline-end: 6px;
}

.px-2-5 {
  padding-inline-start: 10px;
}

.px-2-5 {
  padding-inline-end: 10px;
}

.pb-2,
.py-2 {
  padding-bottom: 8px;
}

.pt-2,
.py-2 {
  padding-top: 8px;
}

.p-rel {
  position: relative;
}

.align-items-center {
  align-items: center;
}

.z-index-2 {
  z-index: 2;
}

<style > .label-3,
.amount-option-label,
.btn-tab,
.ui-radio-label,
.ui-checkbox-label,
.form-control,
.custom-select-cover-label,
.custom-select-placeholder,
.currency-select-label {
  font-size:
    /*!rtl:14px*/ 16px;
  line-height: 24px;
  font-weight: 400;
}

.currency-select-label {
  color: #697484;
}

input {
  font-style: ;
  font-variant-ligatures: ;
  font-variant-caps: ;
  font-variant-numeric: ;
  font-variant-east-asian: ;
  font-variant-alternates: ;
  font-variant-position: ;
  font-weight: ;
  font-stretch: ;
  font-size: ;
  font-family: ;
  font-optical-sizing: ;
  font-kerning: ;
  font-feature-settings: ;
  font-variation-settings: ;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0em;
  padding: 1px 0px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  padding-block: 1px;
  padding-inline: 2px;
}

.body-1,
body,
.currency-select-control {
  font-size:
    /*!rtl:14px*/ 16px;
  line-height: 24px;
  font-weight: 400;
}

.modal-desktop {
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1010;
  outline: 0;
  display: flex;
  align-items: flex-start;
}

.widget-desktop {
  position: relative;
  min-height: 0;
  margin: auto;
  padding-top: 16px;
  padding-bottom: 16px;
}

.widget {
  display: flex;
  flex-direction: column;
}

* {
  min-width: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.body-1,
body,
.currency-select-control {
  font-size:
    /*!rtl:14px*/ 16px;
  line-height: 24px;
  font-weight: 400;
}

body {
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji"
      /*!rtl:IBM Plex Sans Arabic, IBM Plex Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji*/;
  text-align: left;
  color: #222832;
  background-color: transparent;
  margin: 0;
  overscroll-behavior-y: none;
}

@media (min-width: 916px) .campaign-desktop {
  height: 640px;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(57, 58, 63, 0.22), 0 0 4px rgba(57, 58, 63, 0.04);
}

.campaign-image {
  width: 100%;
  position: relative;
  flex-shrink: 0;
  background-color: #f7f7f8;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

element.style {
  background-image: url(https://ucarecdn.com/7958b376-edc7-41b5-9b22-63ebaae04493/-/resize/1032x/-/format/auto/);
}

@media (min-width: 536px) .campaign-image-desktop {
  height: 289px;
}

.campaign-header-desktop {
  order: 1;
  height: 86px;
  padding: 20px 28px 16px 28px;
}

.campaign-image-desktop {
  height: 202px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.campaign-header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.campaign-image-holder-desktop {
  order: 0;
}

.campaign-image-holder {
  position: relative;
}

div {
  display: block;
}

.campaign {
  background: #fff;
  display: flex;
  flex-direction: column;
}

@media (min-width: 916px) .campaign-title-desktop {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.campaign-title-desktop {
  text-align: left;
}

.campaign-title {
  user-select: text;
  margin: 0;
}

.title-1,
.campaign-title {
  font-size: 20px;
  line-height:
    /*!rtl:34px*/ 24px;
  font-weight: 600;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.campaign-text-desktop {
  line-height: 22px;
  margin-top: 12px;
  user-select: text;
}

.campaign-text {
  position: relative;
  text-align: left;
  overflow: hidden;
}

.body-2,
.country-select-option,
.search-select-option,
.campaign-text-desktop {
  font-size:
    /*!rtl:14px*/ 16px;
  line-height:
    /*!rtl:22px*/ 20px;
  font-weight: 400;
}

.campaign-header-logo-desktop {
  max-height: 50px;
}

.campaign-header-logo {
  display: block;
  max-width: 100%;
}

img,
svg {
  vertical-align: middle;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.widget-campaign {
  min-height: 0;
}

.widget-campaign-desktop {
  position: relative;
  width: 360px;
}

@media (min-width: 536px) .widget-campaign-desktop {
  width: 516px;
}

.widget-campaign-desktop {
  position: relative;
  width: 360px;
}

.widget-campaign {
  min-height: 0;
}

.widget-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  min-height: 0;
}

.faq-link-title {
  display: block;
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}

.body-4,
.flow-button-divider-desktop,
.faq-link-desktop {
  font-size:
    /*!rtl:11px*/ 12px;
  line-height: 18px;
  font-weight: 400;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.title-1,
.campaign-title {
  font-size: 20px;
  line-height:
    /*!rtl:34px*/ 24px;
  font-weight: 600;
}

.text-green-80 {
  color: #00c07b;
}

.font-size-28 {
  font-size: 28px;
}

.group-price-control .price-control {
  height: 52px;
  line-height: 52px;
}

.font-size-16 {
  font-size: 16px;
}

.price-control {
  display: block;
  width: 100%;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: inherit;
  background-color: transparent;
  background-image: none;
  padding: 0;
  border: 0;
  box-shadow: none;
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

@media (min-width: 916px) .has-campaign .widget-main-desktop {
  border-radius: 0;
  box-shadow: none;
}

.widget-desktop {
  position: relative;
  min-height: 0;
  margin: auto;
  padding-top: 16px;
  padding-bottom: 16px;
}

.widget {
  display: flex;
  flex-direction: column;
}

.btn-tab-desktop {
  height: 40px;
}

.btn-tab.active {
  background: #ebf1fc;
  box-shadow: inset 0 0 0 2px #3371e6;
  z-index: 2;
  cursor: default;
}

.label-2,
.amount-option-radio:checked ~ .amount-option-label,
.btn-tab.active,
.btn,
.group-price-control-custom-amount {
  font-size:
    /*!rtl:14px*/ 16px;
  line-height: 24px;
  font-weight: 500;
}

.text-truncate,
.campaign-header-name-desktop,
.flow-button-mobile,
.flow-button-desktop {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-fuchsia-80 {
  color: #ff447c;
}

path[Attributes Style] {
  d: path(
    "m 9 14.1538 c 11.106 -6.11746 4.1743 -13.1205 0 -8.83311 c -4.17433 -4.2874 -11.106 2.7156 0 8.83311 Z"
  );
  fill: currentcolor;
}

.btn-tabs {
  position: relative;
}

.mb-4 {
  margin-bottom: 16px;
}

.align-items-center {
  align-items: center;
}

.d-flex {
  display: flex;
}

@media (min-width: 916px) .desktop-view .fixed-container {
  max-width: 100%;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.btn-tab {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  max-width: 100%;
  color: #222832;
  text-align: center;
  background: transparent;
  padding: 0 5px;
  border: 0;
  border-radius: 8px;
  margin: 0;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

.btn {
  display: block;
  width: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  background: none;
  padding: 12px 4px;
  border: 0;
  border-radius: 8px;
  margin: 0;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0.15s ease-in-out;
  cursor: pointer;
}

.faq-links {
  list-style: none;
  padding: 0;
}

.widget-footer-panel {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 916px) .has-campaign .widget-footer-panel-desktop {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.body-1,
body,
.currency-select-control {
  font-size:
    /*!rtl:14px*/ 16px;
  line-height: 24px;
  font-weight: 400;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html.desktop-view {
  height: auto;
}

:root {
  --fixed-container-width-mobile: 390px;
  --fixed-container-width-desktop: 296px;
}

:root {
  --swiper-theme-color: #007aff;
}

element.style {
  display: block !important;
  margin: 0px !important;
  padding: 0px !important;
  border: 0px !important;
  width: 100% !important;
  height: 100% !important;
  position: fixed !important;
  opacity: 1 !important;
  inset: 0px !important;
  transform: translateZ(100px) !important;
  z-index: 2147483647 !important;
  min-height: 100% !important;
  max-height: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
}

.ui-checkbox-text {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-inline-start: 8px;
}

.ui-checkbox-label {
  display: inline-flex;
  align-items: flex-start;
  max-width: 100%;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.label-3,
.amount-option-label,
.btn-tab,
.ui-radio-label,
.ui-checkbox-label,
.form-control,
.custom-select-cover-label,
.custom-select-placeholder,
.currency-select-label {
  font-size:
    /*!rtl:14px*/ 16px;
  line-height: 24px;
  font-weight: 400;
}

.line-height-20 {
  line-height: 20px;
}

.body-3,
.table-stocks,
.custom-amount-btn,
.amount-hint-label,
.flow-button-divider-mobile,
.flow-button-mobile,
.faq-link-mobile,
.campaign-text-mobile,
.ui-tooltip-mobile,
.ui-radio-hint,
.ui-checkbox-hint,
.group-price-control-custom-amount .currency-select-label {
  font-size:
    /*!rtl:12px*/ 14px;
  line-height: 20px;
  font-weight: 400;
}

body {
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji"
      /*!rtl:IBM Plex Sans Arabic, IBM Plex Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji*/;
  text-align: left;
  color: #222832;
  background-color: transparent;
  margin: 0;
  overscroll-behavior-y: none;
}

.mt-6 {
  margin-top: 24px;
}

.mb-4 {
  margin-bottom: 16px;
}

.align-items-center {
  align-items: center;
}

.btn-tabs {
  position: relative;
}

@media (min-width: 916px) .desktop-view .fixed-container {
  max-width: 100%;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.desktop-view .fixed-container {
  max-width: var(--fixed-container-width-desktop);
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-column {
  flex-direction: column;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

.label-3,
.amount-option-label,
.btn-tab,
.ui-radio-label,
.ui-checkbox-label,
.form-control,
.custom-select-cover-label,
.custom-select-placeholder,
.currency-select-label {
  font-size:
    /*!rtl:14px*/ 16px;
  line-height: 24px;
  font-weight: 400;
}

@media (min-width: 536px) .desktop-view .px-body {
  padding-inline-start: 32px;
  padding-inline-end: 32px;
}

.pb-5,
.py-5 {
  padding-bottom: 20px;
}

.body {
  position: relative;
  flex-grow: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.border-bottom-0 {
  border-bottom: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.flow-screen {
  width: 100%;
  flex-grow: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

form {
  margin: 0;
}

@media (min-width: 916px) .has-campaign .flow-slide-desktop {
  border-top: 0;
}

@media (min-width: 916px) .has-campaign .widget-form-desktop {
  width: 360px;
}

@media (min-width: 536px) .has-campaign .widget-form-desktop {
  width: 516px;
}

@media (min-width: 536px) .widget-form-desktop {
  width: 360px;
}

.widget-form-desktop {
  position: relative;
  flex-shrink: 0;
  width: 360px;
}

.widget-form {
  min-height: 0;
}

@media (min-width: 536px) .footer-desktop {
  padding-inline-start: 32px;
  padding-inline-end: 32px;
}

.footer-desktop {
  padding-bottom: 28px;
}

.footer {
  position: relative;
  z-index: 3;
  min-height: 0;
  flex-shrink: 0;
}

@media (min-width: 916px) .desktop-view .fixed-container {
  max-width: 100%;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

.label-2,
.amount-option-radio:checked ~ .amount-option-label,
.btn-tab.active,
.btn,
.group-price-control-custom-amount {
  font-size:
    /*!rtl:14px*/ 16px;
  line-height: 24px;
  font-weight: 500;
}

.btn-primary {
  color: #fff;
  background: #3371e6;
}

@media (min-width: 916px) .has-campaign .flow-slide-desktop {
  border-top: 0;
}

.has-campaign .flow-slide-desktop {
  border-top: 1px solid #c7cdd6;
}

.flow-slide.flow-slide-hidden {
  display: none;
}

.amount-option-radio:checked {
  pointer-events: none;
}

.amount-option-radio {
  opacity: 0.0001;
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 2px;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.group-price-control .price-control {
  height: 52px;
  line-height: 52px;
}

.price-control {
  display: block;
  width: 100%;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: inherit;
  background-color: transparent;
  background-image: none;
  padding: 0;
  border: 0;
  box-shadow: none;
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

.group-price-control {
  position: relative;
  display: flex;
  color: #3371e6;
  background: #fff;
  box-shadow: inset 0 0 0 1px #c7cdd6, 0 1px 3px rgba(57, 58, 63, 0.1);
  border-radius: 8px;
  padding-inline-start: 16px;
  padding-inline-end: 6px;
}

@media (min-width: 916px) .has-campaign .faq-link-item-desktop {
  margin-top: 0;
}

.faq-link-item:first-child {
  margin-top: 0;
}

.faq-link-item-desktop {
  justify-content: center;
}

.faq-link-item {
  display: flex;
  margin-top: 8px;
}

.faq-links {
  list-style: none;
  padding: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.faq-link {
  background-color: transparent;
  background-image: none;
  border: 0;
  touch-action: manipulation;
  padding: 0;
  margin: 0;
}

.faq-link,
.faq-link:hover,
.faq-link:focus,
.faq-link:active {
  outline: none;
  text-decoration: none;
}

.faq-link-desktop {
  color: #fff;
  opacity: 0.8;
}

.body-4,
.flow-button-divider-desktop,
.faq-link-desktop {
  font-size:
    /*!rtl:11px*/ 12px;
  line-height: 18px;
  font-weight: 400;
}

.faq-link-title {
  display: block;
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (min-width: 916px) .has-campaign .widget-footer-panel-desktop {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.widget-footer-panel {
  display: flex;
  flex-direction: column-reverse;
}

.d-block {
  display: block;
}

.icon-slot-32 {
  width: 32px;
}

.icon-slot {
  position: relative;
}

.modal-close {
  display: block;
  top: 0;
  right: 0;
  color: #222832;
  padding: 0;
  border: 0;
  border-radius: 50%;
  z-index: 3050;
}

.p-abs.centered,
.p-fixed.centered {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.p-abs {
  position: absolute;
}

.modal-close-desktop {
  position: fixed;
  width: 32px;
  height: 32px;
  font-size: 20px;
  background: #e7e8ed;
  margin: 12px;
  transition: all 0.15s ease-in-out;
  opacity: 0.8;
}
